/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


::-webkit-scrollbar{
    width: 0px;
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}



input[type=number] {

    -moz-appearance: textfield;
    /* For Firefox */

}


* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Figtree", sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(240, 240, 240);
}

section:nth-child(1) {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
}

section h1 {
    font-size: 4rem;
    letter-spacing: 2px;
    text-align: center;
}



.box {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    /* opacity: 0; */
    /* visibility: hidden; */
    z-index: 1;


}

/* .visible {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
    z-index: 2;
} */

.box h2 {
    font-size: 30px;
    text-align: center;
    line-height: 1.25;
    margin: 1rem 0;
    font-weight: bold;
    text-decoration: underline;
}

.box h3{
    font-size: 18px;
}

.box ul {
    padding: 1rem;
}

.box ul li {
    list-style: none;
}

.inp {
    width: 4rem;
    margin: 2rem 1rem;
    padding: 0 0.2rem;
}

.large-inp{
    padding: 0.5rem;
    width: 23rem;
    height: 5rem;
}

.box ul li {
    overflow-x: scroll;
}

.box ul li p {
    text-wrap: nowrap;
}


.box ul li p,
.inp {
    font-size: 15px;
}

.submit,
.reset {
    width: 46%;
    height: 3rem;
    margin: 1% 2%;
    font-size: 18px;
    background-color: transparent;
    border-radius: 1.25rem;
    border: 2px solid black;
    -webkit-transition: background-color .1s ease-in-out, border .1s ease-in-out;
    -o-transition: background-color .1s ease-in-out, border .1s ease-in-out;
    transition: background-color .1s ease-in-out, border .1s ease-in-out;
    max-width: 300px;
}

.submit:active,
.reset:active {
    background-color: #c5c5c5;
    border: 4px solid rgb(0, 0, 0);
}



.solutions h3 {
    font-size: 20px;

}

.solutions li {
    margin: 1rem;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}

.navbar {
    position: fixed;
    background: wheat;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 0vh;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.menu{
    font-size: 5rem;
    font-weight: bold;
}

.show{ height: 100vh;}

li {
    list-style: none;
}

.links {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: #676767;
    transition: color .3s ease, letter-spacing .3s ease;
}



.links:hover,
.focus {
    color: black;
    letter-spacing: 1px;
}

.bars {
    position: absolute;
    width: 2rem;
    height: 2rem;
    /* border: 2px solid; */
    display: block;
    top: 1rem;
    left: 1rem;
    z-index: 10;

}

.bar {
    display: block;
    position: relative;
    width: 100%;
    height: 18%;
    margin-bottom: 15%;
    background-color: black;
    border-radius: 1rem;
    transition: transform .3s ease, scale .3s ease, width  .3s ease;
}


.bars:hover #bar2{width: 100%;}
#bar2{width: 120%;}
.bars:hover #bar3{width: 100%;}
#bar3{width: 80%;}

.active #bar1{width: 100%; transform: translateY(179%) rotate(45deg);}
.active #bar2{width: 100%; scale: 0;}
.active #bar3{width: 100%; transform: translateY(-185%) rotate(-45deg);}


@media screen and (min-width: 560px) {
    * {
        font-size: 14px;
    }

    .box ul li {
        overflow: hidden;
    }

    .box ul li p {
        text-wrap: wrap;
    }

    .solutions {
        width: 30rem;
    }

    .box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    section h1 {
        font-size: 7rem;
    }

    .box h2 {
        font-size: 3rem;
    }

    .bars {
        width: 3rem;
        height: 3rem;
        top: 3rem;
        left: 3rem;
        cursor: pointer;
    }

    .links{
        cursor: pointer;
    }

}
