* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(240, 240, 240);
}

section:nth-child(1) {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
}

section h1 {
    font-size: 4rem;
    letter-spacing: 2px;
    text-align: center;
}

section ul.buttons {
    position: relative;
    margin-top: 2rem;
    list-style: none;
    display: flex;
    /* gap: 1rem; */
    height: 5rem;
    align-items: center;
}


section ul.buttons .btn {
    position: relative;
    width: 50%;
    padding: 1rem;
    border: none;
    background-color: transparent;
    color: slategrey;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: 3px;
    font-weight: bold;
    transition: color .3s ease-in-out;
    text-align: center;
}

#movable {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #c5c5c5 !important;
    border-radius: 1.25rem;
    position: absolute;
    transition: transform .3s ease-in-out;
}

.move {
    transform: translateX(100%);
}


.btn_active {
    color: black !important;
}

.boxes {
    position: relative;
    padding: 1rem;
}

.box {
    position: absolute;
    inset: 0;
    height: fit-content;
    transform: translateY(10rem);
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 1;


}

.visible {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.box h2 {
    font-size: 20px;
    text-align: center;
    line-height: 1.25;
    margin: 1rem 0;
    font-weight: bold;
    text-decoration: underline;
}

.box ul {
    padding: 1rem;
}

.box ul li {
    list-style: none;
}

.inp {
    width: 4rem;
    margin: 2rem 1rem;
    padding: 0 0.2rem;
}

.box ul li {
    overflow-x: scroll;
}

.box ul li p {
    text-wrap: nowrap;
}


.box ul li p,
.inp {
    font-size: 15px;
}

.submit,
.reset {
    width: 46%;
    height: 3rem;
    margin: 1% 2%;
    font-size: 18px;
    background-color: transparent;
    border-radius: 1.25rem;
    border: 2px solid black;
    transition: background-color .1s ease-in-out, border .1s ease-in-out;
    max-width: 300px;
}

.submit:active,
.reset:active {
    background-color: #c5c5c5;
    border: 4px solid rgb(0, 0, 0);
}



.solutions h3 {
    font-size: 20px;

}

.solutions li {
    margin: 1rem;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

@media screen and (min-width: 560px) {
    * {
        font-size: 14px;
    }

    .box ul li {
        overflow: hidden;
    }

    .box ul li p {
        text-wrap: wrap;
    }

    .solutions {
        width: 30rem;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section h1{
        font-size: 10rem;
    }
    .box h2{
        font-size: 3rem;
    }
}